mn-image {
  max-width: 100%;
  position: relative;
  display: inline-block;
  transition: transform .2s ease-out;
  transform: perspective(1000px) rotateY(0deg);
  border-radius: 5px;
  margin: 1em 0;

  img {
    width: 100%;
    border-radius: inherit;
    position: relative;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
  }
}

.no-outline {
  outline: 0;
}

a:focus mn-image,
mn-image:hover {
  transform: scale(1.07);
  will-change: transform;
  z-index: 10;
}
