mn-image {
  max-width: 100%;
  position: relative;
  display: inline-block;
  transition: transform .2s ease-out;
  transform: perspective(1000px) rotateY(0deg);
  border-radius: 5px;

  &:focus, &:hover {
    transform: scale(1.07);
  }

  img {
    width: 100%;
    border-radius: inherit;
    position: relative;
  }
}
