mn-image {
  max-width: 100%;
  position: relative;
  display: inline-block;
  transition: transform .2s ease-out;
  transform: perspective(1000px) scale(1) translateZ(0);
  border-radius: 5px;
  will-change: transform;
  margin: 1em;

  img {
    width: 100%;
    border-radius: inherit;
    position: relative;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
  }
}

a.no-outline {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  margin: 1em;

  mn-image {
    display: block;
    margin: 0 auto;
  }
}

a:focus mn-image,
a:hover mn-image {
  transform: perspective(1000px) scale(1.07) translateZ(0);
  z-index: 10;
}

a:active mn-image {
  transform: perspective(1000px) scale(1.04) translateZ(0);
}

@media (hover: none) {
  a:hover, a:active, a:focus {
    mn-image {transform: none !important}
  }
}
