mn-image {
  &:before {
    content: '';
    position: absolute;
    top: 5%; left: 5%;
    bottom: 5%; right: 5%;
    box-shadow: 0 2px 30px rgba(14,21,47,0.6);
    transition: box-shadow .2s ease-out;
  }
}

a:focus mn-image,
a:hover mn-image {
  &:before {
    box-shadow: 0 45px 100px rgba(14,21,47,0.4), 0 16px 40px rgba(14,21,47,0.4);
  }
}

a:active mn-image:before {
  box-shadow: 0 20px 50px rgba(14,21,47,0.4);
}

@media (hover: none) {
  a:hover, a:active, a:focus {
    mn-image:before {box-shadow: 0 2px 30px rgba(14,21,47,0.6) !important}
  }
}
