mn-image {
  &:before {
    content: '';
    position: absolute;
    top: 5%; left: 5%;
    bottom: 5%; right: 5%;
    box-shadow: 0 8px 30px rgba(14,21,47,0.6);
    transition: box-shadow .2s ease-out;
  }
}

a:focus mn-image,
mn-image:hover {
  &:before {
    box-shadow: 0 45px 100px rgba(14,21,47,0.4), 0 16px 40px rgba(14,21,47,0.4);
  }
}
