mn-image {
  .shine {
    content: '';
    position: absolute;
    top: 0; left: 0;
    bottom: 0; right: 0;
    background: red;//linear-gradient(135deg, rgba(255,255,255,.25) 0%,rgba(255,255,255,0) 60%);
    opacity: 0;
    border-radius: inherit;
    transform: all 2s ease-out;
  }

  // &:hover, &:focus {
  //   .shine {
  //     opacity: 1;
  //   }
  // }
}
