mn-image {
  .shine {
    content: '';
    position: absolute;
    top: 0; left: 0;
    bottom: 0; right: 0;
    // background: red;
    // background-image: radial-gradient(circle, rgba(255,0,0,1), transparent, transparent, transparent);
    // opacity: 0;
    border-radius: inherit;
    transition: opacity .2s ease-out;
  }

  &:hover, &:focus {
    .shine {
      opacity: 1;
    }
  }
}
