html
  meta(name='viewport' content='width=device-width, user-scalable=no')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans')
  link(rel='stylesheet' href='mn-image.css')
  style.
    body {
      font-family: 'Open Sans', sans-serif;
      -webkit-font-smoothing: antialiased;
    }

    .content {
      text-align: center;
      margin-bottom: 50px;
    }

    img {
      zoom: 50%;
    }

    .content > * {
      display: inline-block;
      margin-left: 20px;
    }
body
  h1 Minimalist image
  //- .content
    a.no-outline(href='#'): mn-image(src='http://66.media.tumblr.com/46179d3ef5b19665e5f1274bb0d84087/tumblr_o4zk6mEISo1qi4ucgo1_1280.jpg')

    a.no-outline(href='#'): mn-image(src='http://66.media.tumblr.com/46179d3ef5b19665e5f1274bb0d84087/tumblr_o4zk6mEISo1qi4ucgo1_1280.jpg')

    a.no-outline(href='#'): mn-image(src='http://66.media.tumblr.com/46179d3ef5b19665e5f1274bb0d84087/tumblr_o4zk6mEISo1qi4ucgo1_1280.jpg')

  //- .content
    a(href='#'): mn-image(src='http://i.dailymail.co.uk/i/pix/2015/11/12/01/2E5C4DE900000578-3314463-image-a-6_1447290394693.jpg')

  //- .content
    a.no-outline(href='#'): mn-image(src='https://assets.rbl.ms/2059944/980x.jpg')

  .content
    a.no-outline(href='#'): mn-image(src='imgs/koala.jpg')
  
  
  script(src='scripts/vendor.js')
  script(src='mn-image.js')

